<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :title, :for=>"exampleFormControlInput1" %>
    <%= form.text_field :title, :class=>"form-control", :id=>"exampleFormControlInput1", :placeholder=>"Enter Title" %>
  </div>

  <div class="form-group">
    <%= form.label :description, :for=>"exampleFormControlInput1" %>
    <%= form.text_area :description, :class=>"form-control", :id=>"exampleFormControlTextarea1", :rows=>"3"%>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.file_field :image_url %>
  </div>

  <div class="form-group">
    <%= form.label :price, :for=>"exampleFormControlInput1" %>
    <%= form.text_field :price, :class=>"form-control", :id=>"exampleFormControlInput1", :placeholder=>"Enter Title" %>
  </div>

  <div class="form-group">
    <%= form.label :user_id, :for=>"exampleFormControlInput1" %>
    <%= form.text_field :user_id, :class=>"form-control", :id=>"exampleFormControlInput1", :placeholder=>"Enter Title" %>
  </div>

  <div class="text-center">
    <%= form.submit %>
  </div>
<% end %>

