<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class>
  <% @products.each do |product| %>
    <div class = "d-flex mb-3">
      <div class= "col-2">
        <%= image_tag("#{product.image_url}", :class => ['box__image']) %>
      </div>
      <div class= "col-8">
        <div>
          <h4>
            <%= product.title %>
          </h3>
        </div>
        <div>
          <%= truncate(strip_tags(product.description), :length => 80) %>
        </div>
      </div>
      <div class="col-2">
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>
<div class = "text-center">
  <%= link_to 'New Product', new_product_path, :class => ['btn btn-primary'] %>
</div>
